.repoinfo-container{
    background-color: #F6F8FA;
    padding: 0px 80px 50px 80px;
}

.repoinfo-title{
    font-size: 28px;
    font-weight: bold;
    color: #24292E;
    border-bottom: 3px dashed #D1D5DA;
    width: max-content;
    margin-bottom: 25px;
}

@media screen and (max-width: 500px){
    .repoinfo-container{
        padding: 0px 10px 50px 10px;
    }
}