.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    background-color: #1E2327;
}

.search-container i{
    font-size: 100px;
    color: #0070F3;
}

.search-notfound{
    font-size: 15px;
    margin-top: 50px;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

p{
    font-size: 32px;
    color: white;
}