.avatar-container{
    display: flex;
    justify-content: center;
}

.avatar-container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid #0372DE;
}